<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/shared/styles.css">
	<link rel="stylesheet" href="/browse-panel/styles.css">
	<link rel="stylesheet" href="/control/styles.css">

	<script>
	</script>	
</head>

<body>
	<div id="panel">
		<h1><a href=""><%= creativeName; %></a></h1>
		<ul id="files" class="view-details">
			<li class="header">
				<span class="index-col column">Builds</span>
				<span class="hierarchy-grid"></span>
				<span class="watching-col column">Compiling</span>
				<span class="last-deploy-col column">Deployed</span>
			</li>

<%
	const ids = Object.keys(targets);
	ids.forEach((id) => {
		const target = targets[id];
		var childCss = i < ids.length - 1 ? 'next-child' : 'last-child';
		var toggleRoute, watchingCss;
		if (target.watching) {
			toggleRoute = '/api/stop-watching?size=' + target.size + '&index=' + target.index;
			watchingCss = 'watching';
		}
		else {
			toggleRoute = '/api/start-watching?size=' + target.size + '&index=' + target.index;
			watchingCss = 'not-watching';
		}
%>
		</ul>
		<div class="ads">
			<div class="ad">
				<div class="ad-size"><%= target.size; %></div>
				<div class="ad-index clear-after">
					<div class="hierarchy-grid <%= childCss; %>"></div>
					<div class="index-col column">
						<div class="col-vert-nudge"><%= target.index; %></div>
					</div>
					<div class="watching-col column">
						<a href="<%= toggleRoute; %>"><div class="<%= watchingCss; %>"></div></a>
					</div>
					<div class="deploy-col column"></div>
					<div class="last-deploy-col column">
						<div class="col-vert-nudge"><%= target.lastDeployAt; %></div>
					</div>
				</div>
			</div>
<%
	});			
%>
		</div>

	</div>
</body>
</html>